.page-header {
    background-color: #3b5998;
}

.page-header h2 {
    color: #ffffff;
}

.container {
    /*background-color: #afbdd4;*/
    /*padding: 20px;*/
}

.Error {
    color: red;
}

body {
    background-color: lightgray;
    font: normal 14px Roboto,arial,sans-serif;
}

#name, #address, #mobile, #city, #age, #country_id, #state_id {
    width : 50%;
}

#updateAddress, #cancelUpdate {
    width: 25%;
}
label.error {
    color: red;
    font-family: helvetica;
    font-style: italic;
}

.fields {
    align: left;
}

div.error {
    color: red;
}