.page-header {
    background-color: #3b5998;
}
.page-header h2 {
    color: #ffffff;
}

.Error {
    color: red;
}

body {
    background-image: url("/address_book/common/bg.jpg");
    background-size: cover;
    font: normal 14px Roboto,arial,sans-serif;
}

.container {
    padding: 20px;
    position: fixed;
}

.form-login {
    background-color: #afbdd4;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

#content{
    padding-top: 5%;
    width: 35%;
    color: white;
}

label.error {
    color: red;
    font-family: helvetica;
    font-style: italic;
}